<div id="carousel-ad" class="carousel slide" data-ride="carousel">
  <div class="carousel-indicators">
    <% setting?.slider?.sort((a, b) => a.position - b.position).forEach((slide, index) => { %>
    <button
      type="button"
      data-bs-target="#carousel-ad"
      data-bs-slide-to="<%= index %>"
      <% if (index === 0) { %>class="active"<% } %>
      aria-label="Slide <%= index + 1 %>"></button>
    <% }) %>
  </div>
  <div class="carousel-inner">
    <% setting?.slider?.sort((a, b) => a.position - b.position).forEach((slide, index) => { %>
    <div class="carousel-item <% if (index === 0) { %>active<% } %>">
      <a href="<%= slide.link %>">
      <img
        src="<%= slide.image %>"
        class="d-block img-fluid mx-auto"
        alt="slide <%= index + 1 %>" />
      </a>
    </div>
    <% }) %>

  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carousel-ad"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carousel-ad"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script>
  $(document).ready(function () {
    // Start the carousel
    $('#carousel-ad').carousel()

    // Auto advance to the next slide every 2 seconds
    setInterval(function () {
      $('#carousel').carousel('next')
    }, 2000)
  })
</script>
